*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    list-style: none;
    text-decoration: none;
}

body{
    background: linear-gradient(245.59deg,#614490 10%,#59479c 28.53%,#230439);
}
header{
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 33px 9%;
    background: transparent;
}


.logo{
    font-size: 30px;
    font-weight: 700;
    color:white;

}

.navlist{
    display: flex;

}

.navlist li{
    color:white;
}
.navlist a{
    color: white !important;
    margin-left: 60px;
    font-size: 15px;
    font-weight: 600;
    border-bottom: 2px solid transparent;
    transition: all .55s ease;
}

.navlist a:hover{
    border-bottom: 2px solid white;
}

#bicons{
    color:white;
    font-size: 30px;
    z-index: 10001;
    cursor: pointer;
    display: none;
    
}

.hero{
    height: 100%;
    width:100%;
    min-height: 100vh;
   
    position: relative;
    display: grid;
   
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 2rem;

}

section{
    padding: 0 19%;
}

.hero-text h5{
    font-size: 14px;
    font-weight: 400;
    color: white;
    margin-bottom: 40px;
}

.hero-text h1{
    font-family: 'Permanent Marker', cursive;
    font-size: 90px;
    line-height: 1;
    color: white;
    margin: 0 0 45px;

}

.hero-text h4{
    font-size: 18px;
    font-weight: 600;
    color: white;
    margin-bottom: 10px;


}

.hero-text p{
    color: white;
    font-size: 15px;
    line-height: 1.9;
    margin-bottom: 40px;

}

.hero-img img{
    width: 700px;
    height: auto;


}

.hero-text a{
    display: inline-block;
    color: white;
    background: #7739CD;
    border: 1px solid transparent;
    padding: 12px 30px;
    line-height: 1.4;
    font-size: 14px;
    font-weight: 500;
    border-radius: 30px;
    text-transform: uppercase;
    transform: all .55s ease;

}

.hero-text a:hover{
    background: transparent;
    border: 1px solid white;
    transform: translateX(8px);

}

.hero-text a.ctaa{
    background: transparent;
    border: 1px solid white;
    margin-left: 20px;

}

.hero-text a.ctaa i{
    vertical-align: middle;
    margin-left: 5px;

}

.icons{
    position: absolute;
    top: 50%;
    padding: 0 9%;
    transform: translateY();
}

.icons i{
    display: block;
    margin:26px 0;
    font-size: 24px;
    color: white;
    transition: all .50s ease;

}

.icons i:hover{
        color:#ffab00;
        transform: translateY(-5px);
}

.scroll-down{
    position: absolute;
    bottom: 6%;
    right: 9%;

}

.scroll-down i{
    display: block;
    padding: 12px;
    font-size: 25px;
    color: white;
    background:#7739CD;
    border-radius: 30px;
    transition: all .50s ease;
}

.scroll-down i:hover{
    transform: translateY(-5px);
    
}

@media(max-width:1535px){
    header{
        padding: 15px 3%;
        transition: .2s;
    }
    .icons{
        padding: 0 3%;
        transition: .2s;

    }
    .scroll-down{
        right: 3%;
        transition: .2s;
    }
}

@media(max-width:1460px){
    section{
        padding: 0 12%;
        transition: .2s;
    }


}

@media(max-width:1340px){
    .hero-img img{
        width: 100%;
        height: auto;


    }

    .hero-text h1{
        font-size: 75px;
        margin: 0 0 30px;
    }
    .hero-text h5{
        margin-bottom: 25px;
    }
}

@media(max-width:1195px){
    section{
        padding: 0 3%;
        transition: .2s;
    }
    .hero-text{
        padding-top: 115px;
    }
    .hero-img{
        align-items: center;
    }
    .hero-img img{
        width: 560px;
        height: auto;

    }
    .hero{
        height: 100%;
        gap: 1rem;
        grid-template-columns: 1fr;
    }
    .icons{
        display: none;
    }
    .scroll-down{
        display: none;
    }

}

@media(max-width:990px){
    #bicons{
        color:white;
        font-size: 30px;
        z-index: 10001;
        cursor: pointer;
        display:block;
    }
    .navlist{
        position: absolute;
        top: 100%;
        right: -100%;
        width: 300px;
        height: 50vh;
        background:#7739CD; 
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 50px 20px;
        transition: all .55s ease;
    }
    .navlist a{
        margin-left: 0;
        display: block;
        margin: 7px 0;
        
    }
    .navlist.open{
        right: 0;
    }

}
@media(max-width:680px){
    .hero-img img{
        width: 100%;
        height: auto;
    }
}

/* Intro Section */

.main-container {
    padding: 30px;
  }
  
  /* HEADING */
  
  .heading {
    text-align: center;
  }
  
  .heading__title {
    font-weight: 600;
    font-size: 40px;
    color: white;
  }

  .heading p{
    color: white;
  }
  

  .heading__link {
    text-decoration: none;
  }
  
  .heading__credits .heading__link {
    color: inherit;
  }
  
  /* CARDS */
  
  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .card {
    margin: 20px;
    padding: 20px;
    width: 400px;
    min-height: 150px;
    display: grid;
    grid-template-rows: 20px 50px 1fr 50px;
    border-radius: 10px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
    transition: all 0.2s;
  }
  
  .card:hover {
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
    transform: scale(1.01);
  }
  
  .card__link,
  .card__exit,
  .card__icon {
    position: relative;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.9);
  }
  
  .card__link::after {
    position: absolute;
    top: 25px;
    left: 0;
    content: "";
    width: 0%;
    height: 3px;
    background-color: rgba(255, 255, 255, 0.6);
    transition: all 0.5s;
  }
  
  .card__link:hover::after {
    width: 100%;
  }
  
  .card__exit {
    grid-row: 1/2;
    justify-self: end;
  }
  
  .card__icon {
    grid-row: 2/3;
    font-size: 30px;
  }
  
  .card__title {
    grid-row: 3/4;
    font-weight: 400;
    color: #ffffff;
  }
  
  .card__apply {
    grid-row: 4/5;
    align-self: center;
  }
  
  /* CARD BACKGROUNDS */
  
  .card-1 {
    background: radial-gradient(#1fe4f5, #3fbafe);
  }
  
  .card-2 {
    background: radial-gradient(#fbc1cc, #fa99b2);
  }
  
  .card-3 {
    background: radial-gradient(#76b2fe, #b69efe);
  }
  
  .card-4 {
    background: radial-gradient(#60efbc, #58d5c9);
  }
  
  .card-5 {
    background: radial-gradient(#f588d8, #c0a3e5);
  }
  
  /* RESPONSIVE */
  
  @media (max-width: 1600px) {
    .cards {
      justify-content: center;
    }
  }
  
/* Events Section*/
.event_head{
    display: flex;
    align-items: center;
    justify-content: center;
    color:white;
   
    margin-top: 20px;

}
.timeline {
    background: var(--primary-color);
    margin: 20px auto;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Card container */
  .card-events {
    position: relative;
    max-width: 400px;
  }
  

  .card-events:nth-child(odd) {
    padding: 30px 0 30px 30px;
  }
  .card-events:nth-child(even) {
    padding: 30px 30px 30px 0;
  }
  /* Global ::before */
  .card-events::before {
    content: "";
    position: absolute;
    width: 50%;
    border: solid #6cabdd;
  }
  

  .card-events:nth-child(odd)::before {
    left: 0px;
    top: -4.5px;
    bottom: -4.5px;
    border-width: 5px 0 5px 5px;
    border-radius: 50px 0 0 50px;
  }
  

  .card-events:nth-child(even)::before {
    right: 0;
    top: 0;
    bottom: 0;
    border-width: 5px 5px 5px 0;
    border-radius: 0 50px 50px 0;
  }
  

  .card-events:first-child::before {
    border-top: 0;
    border-top-left-radius: 0;
  }
  
 
  .card-events:last-child:nth-child(odd)::before {
    border-bottom: 0;
    border-bottom-left-radius: 0;
  }
  

  .card-events:last-child:nth-child(even)::before {
    border-bottom: 0;
    border-bottom-right-radius: 0;
  }

  .info {
    display: flex;
    flex-direction: column;
    background: #614490;
    color: white;
    border-radius: 10px;
    padding: 10px;
  }
  

  .title {
    color: #6cabdd;
    position: relative;
  }
  

  .title::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background: white;
    border-radius: 999px;
    border: 3px solid #6cabdd;
  }
  

  .card-events:nth-child(even) > .info > .title {
    text-align: right;
  }
  
d */
  .card-events:nth-child(odd) > .info > .title::before {
    left: -45px;
  }
  

  .card-events:nth-child(even) > .info > .title::before {
    right: -45px;
  }

.reg_head{
    display: flex;
    align-items: center;
    justify-content: center;
    color:white;

}

.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    flex-wrap: wrap;
    z-index: 1;

}

.container .card{
    position: relative;
    width: 280px;
    height: 400px;
    margin: 30px;
    box-shadow: 20px 20px 50px rgba(0, 0,0,0.5);
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(225,225,225,0.5);
    border-left: 1px solid rgba(225,225,225,0.5);
    backdrop-filter: blur(5px);

}

.container .card .content{
    padding: 20px;
    text-align: center;
    transform: translateY(100px);
    opacity: 0;
    transition: 0.5s;


}

.container .card:hover .content{
    transform: translateY(0px);
    opacity: 1;
}

.container .card .content h2{
    position: absolute;
    top: -80px;
    right: 30px;
    font-size: 8em;
    color: rgba(225,225,225,0.05);
    pointer-events: none;
}

.container .card .content h3{
    font-size: 1.8em;
    color: #fff;
    z-index: 1;

}

.container .card .content p{
    font-size: 1em;
    color: #fff;
    font-weight: 300;
    

}

.container .card .content a{
    position: relative;
    display: inline-block;
    padding: 8px 20px;
     margin-top: 15px;
     background: #fff;
     color: #000;
     border-radius: 20px;
     text-decoration: none;
     font-weight: 500;
     box-shadow: 0 5px 15px rgba(0, 0,0,0.2);


}

/* Footer Section*/

.footer-basic {
    padding:40px 0;
    background-color:#ffffff;
    color:#4b4c4d;
  }
  
  .footer-basic ul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding:0;
    list-style:none;

    text-align:center;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
  }
  
  .footer-basic li {
    padding:0 10px;
  }
  
  .footer-basic ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
  }
  
  .footer-basic ul a:hover {
    opacity:1;
  }
  
  .footer-basic .social {
    text-align:center;
    padding-bottom:25px;
  }
  
  .footer-basic .social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid #ccc;
    margin:0 8px;
    color:inherit;
    opacity:0.75;
  }
  
  .footer-basic .social > a:hover {
    opacity:0.9;
  }
  
  .footer-basic .copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color:#aaa;
    margin-bottom:0;
  }
